<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bigproject.Properties.Settings.libraryConnectionString"
            connectionString="Data Source=404-07;Initial Catalog=library;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="bigproject.Properties.Settings.libraryConnectionString1"
            connectionString="Data Source=DESKTOP-NP42GNC;Initial Catalog=library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>